/**************************/
/* General */
/**************************/

html {
    min-width: 750px;
}

html,
body {
    font-size: 12pt;
    background-color: #F9F9FA;
}

input {
    height: 30px;
    background-color: white;
    border: 1px solid lightgrey;
}

.content {
    width: calc(100% - 2px);
    border: 1px solid lightgrey;
    padding: 20px;
    margin-bottom: 25px;
}

.content.last {
    margin-bottom: 0px !important;
}

.titleheader {
    font-weight: bold;
}

.flex-container {
    display: flex;
}

.flex-item {
    flex-grow: 1;
}

.flex-item.left {
    text-align: left;
}

.flex-item.center {
    text-align: center;
}

.flex-item.right {
    text-align: right;
}

label {
    font-size: 85%;
    font-weight: bold;
}

.fullwidth {
    width: 100%;
}



/**************************/
/* Messager */
/**************************/

#messager {
    position: fixed;
    display: none;
    padding: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: rgb(146, 252, 160);
    border: 1px solid rgb(90, 175, 100);
}

#messager.error {
    background-color: rgba(252, 146, 146);
    border: 1px solid rgb(192, 63, 95);
}



/**************************/
/* General Settings */
/**************************/

#generalsettings .entry {
    width: 100%;
    display: inline-block;
    margin-top: 20px;
}

#generalsettings .entry.first {
    margin-top: 0px;
}

#generalsettings .entry .key {
    padding-bottom: 5px;
}

#generalsettings .entry .value {
    width: 100%;
}

#generalsettings .entry .value input {
    width: 100%;
}




/******************************
*** Rules
******************************/

#rules input, #rules textarea {
    width: 100%;
    margin-bottom: 10px;
}

#rules .ruleheader {
    /*display: inline-block;*/
    font-weight: 600;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgrey;
}

#rules .rulecontent {
    margin: 0px 0px 25px 20px;
}

#rules .fas {
    margin-left: 5px;
}